{% extends "base.html" %}
{% block head %}
    <meta name = "description" content="Home page for STI data collection">
{% endblock head %}
{% block title %}<title>Home</title>{% endblock title %}
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">About the STI Data Collection and Reporting System</h1>
    <p>STI surveillance systems are subject to qualitative and quantitative underreporting. 
        General practitioners (GPs), who are key subjects in case reporting,
         explain their underreporting partly by their observation that taking a sexual history 
         is embarrassing for patients, and that patients are reluctant to disclose 
         information on their sexual practices.
</p>
</div>
{% endblock content %}

